# Root Node preview server
PORT=4173
HOST=127.0.0.1
LARAVEL_API_URL=http://127.0.0.1:8000

# Laravel
APP_ENV=local
APP_TIMEZONE=America/Santo_Domingo
DEMO_MODE=false
BOOKING_HOLD_MINUTES=15
ENCORE_CURRENCY=DOP
MAP_PROVIDER=tomtom
TOMTOM_API_KEY=
TOMTOM_SEARCH_BASE_URL=https://api.tomtom.com/search/2
TOMTOM_ROUTING_BASE_URL=https://api.tomtom.com/routing/1
TOMTOM_LANGUAGE=es-ES
TOMTOM_COUNTRY_SET=DO
PAYMENT_GATEWAY=unconfigured
